.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #fafafa;
  min-height: 100vh;
}

/* CARD */
.card {
  width: 350px;
  border: 1px solid #dbdbdb;
  background: #fff;
  padding: 30px;
  text-align: center;
}

/* LOGO */
.logo {
  width: 190px;
  margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
  font-size: 14px;
  color: #8e8e8e;
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
}

/* INPUT */
.form input {
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #fafafa;
}

/* ERROR */
.error {
  color: #ed4956;
  font-size: 12px;
  text-align: left;
  margin: -5px 0 10px;
}

/* BUTTON */
.form button {
  padding: 10px;
  background: #0095f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.form button:hover {
  background: #0077cc;
}

/* TERMS */
.terms {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 15px;
  line-height: 16px;
}

/* TEXT */
.text {
  font-size: 12px;
  color: #8e8e8e;
  margin-top: 10px;
  line-height: 16px;
}

/* LINKS */
.link {
  color: #00376b;
  cursor: pointer;
}

/* LOGIN BOX */
.loginBox {
  width: 350px;
  border: 1px solid #dbdbdb;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
}

.loginBox span {
  color: #0095f6;
  cursor: pointer;
  font-weight: 500;
}

.error {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}

.inputError {
  border: 1px solid red;
}