.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background: #fafafa;
}

/* CARD */
.card {
  width: 390px;
  padding: 40px;

  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: white;

  text-align: center;
}

/* ICON */
.icon {
  font-size: 40px;
  margin-bottom: 15px;
}

/* TITLE */
h3 {
  margin-bottom: 10px;
}

/* SUBTITLE */
.subtitle {
  font-size: 13px;
  color: #737373;
  margin-bottom: 20px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
}

.form input {
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background: #fafafa;
}

.form button {
  padding: 10px;

  background: #0095f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* OR */
.or {
  margin: 20px 0;
  font-size: 12px;
  color: #8e8e8e;
}

/* LINK */
.link {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

/* BOTTOM */
.bottom {
  width: 390px;
  margin-top: 10px;
  padding: 15px;

  border: 1px solid #dbdbdb;
  background: white;
  text-align: center;
  cursor: pointer;
}