/* общий контейнер */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

/* AVATAR */
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* INFO */
.info {
  flex: 1;
}

/* username */
.info h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* stats */
.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.stats span {
  font-size: 14px;
}

/* name */
.name {
  font-weight: 500;
  margin-top: 10px;
}

/* bio */
.bio {
  font-size: 14px;
  color: #555;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 20px;
}

/* POST */
.post {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

/* IMAGE */
.post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s;
}

.post img:hover {
  opacity: 0.8;
}


.topRow {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}