.container {
  max-width: 600px;
  margin: 0 auto;
}

/* POST */
.post {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 25px;
  background: white;
  overflow: hidden;
}

/* HEADER */
.header {
  padding: 10px 15px;
  font-weight: 500;
}

.username {
  font-size: 14px;
}

/* IMAGE */
.post img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 15px;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
}

.actions svg {
  transition: 0.2s;
}

.actions svg:hover {
  opacity: 0.6;
}